/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} */

#unordered {
    list-style-type: circle;
}

#ordered {
    list-style-type: upper-alpha;
}

#unordered2 {
    list-style-type: square;
}

#ordered2 {
    list-style-type: lower-roman;
}

#imagemarker {
    list-style-image: url(nekaikonica.png);
    width: 200px;
}

#imagemarker2 {
    list-style-image: url(rsz_insta_ikonica.png);
    width: 200px;
}
#tabela {
    width: 400px;
    margin
}

